@media screen and (min-width: 900px) {
  main.works section {
    display: flex;
    align-items: flex-end;
    height: 100vh;
  }
  main.works div.projet_container {
    flex-direction: row-reverse;
    justify-content: flex-end;
  }
  div.photoPresentation {
    width: 80vh;
    height: 80vh;
  }
  main.works div.titre, main.works div.numero {
    overflow: hidden;
  }
  main.works div.titre h1, main.works div.numero h3 {
    text-align: left;
  }
  main.works div.titre {
    top: 0;
    right: 6rem;
    align-self: flex-start;
  }
  main.works div.titre h1 {
    font-size: 7rem;
  }
  main.works div.numero {
    bottom: 0;
    left: 6rem;
    align-self: flex-end;
  }
  main.works div.numero h3 {
    font-size: 9rem;
  }




  main.animation div.titre h1 {
    transform: translateX(-100%);
  }
  main.animation div.numero h3 {
    transform: translateX(100%);
  }
}
