* {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: "Assistant_Light";
}
h1, h2, h3, p {
  margin: 0;
}
/* Style de bouton  */
a {
  text-decoration: none;
}
a.bouton div {
  display: inline-block;

  color: #ffffff;
  background: #080808;

  font-family: "Assistant_Light";
  font-size: 1.2rem;
  text-transform: uppercase;

  padding: 10px 30px;
}

/* Header */

/* Navigation */
div.burger {
  position: fixed;
  top: 15px;
  left: 15px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  width: 50px;
  height: 40px;

  z-index: 4;

  cursor: pointer;
}
div.burger span {
  position: relative;
  transition: all .5s;
  display: block;

  width: 100%;
  height: 5px;
  background: black;
  border-radius: 5px;
}
div.burger span:last-child {
  width: 70%;
}
nav {
  position: fixed;
  top: 0;
  left: 0;

  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;

  width: 100vw;
  height: 100vh;
  background: #080808;
  font-size: 2.3rem;
  font-family: "Assistant_SemiBold", sans-serif;
  letter-spacing: 3px;

  transform: translateX(-100vw);
  transition: transform 700ms;

  z-index: 3;
}
nav div:hover {
  font-size: 2.5rem;
  transition: all 0.3s ease-out;
}
nav div {
  border-bottom: 3px solid #BAE1DA;
  padding: 10px 30px;
}
nav div a {
  color: #ffffff;
}
nav.visible {
  transform: translateX(0);
}
div.active span {
  background: #ffffff;
}
div.active span:nth-child(1) {
  top: 18px;
  transform: rotate(45deg);
}
div.active span:nth-child(2) {
  transform: rotate(135deg);
}
div.active span:nth-child(3) {
  transform: scale(0);
}
/* Logo */
div.logo {
  position: fixed;
  top: 15px;
  right: 15px;

  width: 50px;
  height: 50px;

  background-image: url('../img/logo.svg');
  background-size: auto 100%;
  background-repeat: no-repeat;
  background-position: right;

  z-index: 5;
}


main.home {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100vw;
  height: 100vh;

  background-image: url(../img/background1.svg), url(../img/background2.svg);
  background-position: left bottom, right top;
  background-size: 80% auto;
  background-repeat: no-repeat;
}
main.home h1 {
  display: flex;
  flex-direction: column;

  font-family: "Assistant_Bold", sans-serif;
  font-size: 7rem;
}



/* ------------------------------------------------------- */
/* -------------------- PAGE PROJETS  -------------------- */
/* ------------------------------------------------------- */
.projets {

}
.projets .projet {
  display: flex;

  width: 100vw;
  height: 50vw;
}
.projet:nth-child(even) {
  flex-direction: row-reverse;
}
.projet_image {
  width: 50%;
  height: 100%;

  background-size: cover;
  background-position: center;
}
.projet_content {
  position: relative;

  display: flex;
  flex-direction: column;
  justify-content: flex-end;

  width: 50%;
  height: 100%;
  padding: 1rem;

  font-family: "Assistant_SemiBold";
}
.projet_number {
  font-size: 1.5rem;
  color: #BAE1DA;
}
.projet_title {
  font-size: 1.8rem;
  color: #ffffff;
}
.projet_background {
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  background: #080808;

  z-index: -2;
}

/* mouvement du background */
.projet:nth-child(odd) .projet_background_move {
  left: 0;
}
.projet:nth-child(even) .projet_background_move {
  right: 0;
}
.projet:hover .projet_background_move {
  width: 100%;
  transition: width .7s ease;
}


/* ------------------------------------------------------- */
/* ----------------- DESCRIPTION PROJET  ----------------- */
/* ------------------------------------------------------- */
div.modale {
  position: absolute;
  top: 0;
  left: 0;

  width: 100vw;

  background: #BAE1DA;

  transform: translateX(100%);
  transition: transform 1s ease;

  z-index: 9;
}
div.modale.open {
  transform: translateX(0);
  transition: transform 1s ease;
}

main.projets.open  {
  transform: translateX(0);
  transition: transform 1s ease;
}

div.modale div.arrow {
  width: 50px;
  height: 50px;

  background-image: url("../img/arrow.svg");
  background-size: cover;
}

div.descriptionProjet_image {
  width: 100%;
  height: 60vw;

  background-size: cover;
}
h1.descriptionProjet_title {
  font-family: "Assistant_Bold";
  font-size: 3rem;
  text-align: center;
  margin: 0.5rem 1rem;
}
figure.descriptionProjet_maquette {
  width: 100%;
  margin: 0;
}
figure.descriptionProjet_maquette img {
  width: 100%;
  margin: 1rem;
}


/* ------------------------------------------------------- */
/* -------------------- PAGE CONTACT  -------------------- */
/* ------------------------------------------------------- */
.propos_photo {
  width: 100%;
  height: 250px;

  background-image: url("../img/contact_photo.png");
  background-size: cover;
  background-position: center;
}

.propos_content {
  color: #080808;
  padding: 1rem;
}
.propos_content h1 {
  font-size: 2rem;
  margin-bottom: 1rem;
  font-family: "Assistant_SemiBold";
}
.propos_content p {
  font-size: 1.5rem;
  line-height: 2.2rem;
  font-family: "Assistant";
}
.propos_content .text_color {
  position: relative;
}
.propos_content .text_color::before {
  position: absolute;
  left: 0.3rem;
	bottom: 0;

	width: 105%;
	height: 0.8rem;
  content: '';
  background: #BAE1DA;

  z-index: -1;
}
.propos_content .contact {
  margin-top: 2rem;
}
.propos_content .contact a {
  font-size: 1.5rem;
  line-height: 2.2rem;
  font-family: "Assistant";
  color: #080808;
  text-decoration: underline;
}
.propos_content .reseaux {
  margin-top: 2rem;
}
.propos_content .reseaux ul {
  list-style-type: none;
  padding: 0;
  display: flex;
}
.propos_content .reseaux .icon {
  font-size: 2.5rem;
  color: #080808;
  margin-right: 1rem;
}
.propos_content .reseaux .icon:hover {
  color: #BAE1DA;
}








.projet {
  display: grid;
  grid-template: repeat(20, 5vh) / repeat(20, 5vw);

  width: 100vw;
  height: 100vh;
}

.image1 {
  grid-area: 1 / 9 / 21 / 21;
  background-image: url("http://admin.zoemeriet.com/wp-content/uploads/2019/02/Visuel_Coffee.png");
  background-size: cover;
}

.image2 {
  grid-area: 14 / 1 / 21 / 9;
  background-image: url("http://admin.zoemeriet.com/wp-content/uploads/2019/03/Weneed_Apercu_Projet.png");
  background-size: cover;
}

.text {
  grid-area: 1 / 1 / 14 / 9;
}
