body {
  margin: 0;
  background: #242430;
}
h1, h2, h3 {
  margin: 0;
}
main.works {
  margin: 0 5vw;
}
main.works div.projet_container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
div.photoPresentation {
  width: 90vw;
  height: 90vw;

  background-size: cover;
  background-position: center;
}
main.works div.titre, main.works div.numero {
  position: relative;
}
main.works div.titre h1, main.works div.numero h3 {
  text-align: center;
  line-height: 100%;
  color: #e0244c;
  font-family: "Assistant_Bold";
}
main.works div.titre {
  top: 2rem;
}
main.works div.titre h1 {
  font-size: 5rem;
}
main.works div.numero {
  bottom: 3.5rem;
}
main.works div.numero h3 {
  font-size: 7rem;
}
